:root {
  --primary: #0f0800;
  --bg: linear-gradient(to top, red, yellow);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: #fffffe;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(6, 250, 205, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #f4f4f4;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #76981b;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #8c9572;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 5%;
  height: 5%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(12, 23, 21) 0% rgba(255, 255, 255, 0.7) 5%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #a86508;
  text-shadow: 1px 1px 3px rgba(207, 49, 49, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #eee;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu span,
.contact h2 span {
  color: #000000;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 65rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .contact {
  flex: 1 1 55rem;
  padding: 0 1rem;
}

.about .row .contact h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.contact h3 {
  font-size: 1rem;
}

.about .row .contact p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 100%;
  line-height: 1.6rem;
}

/*Menu Sections */

.menu h2,
.contact h2 {
  margin-bottom: 0.8rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.2rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1.5rem auto 0.5rem;
}
.menu {
  background: linear-gradient(to top, aqua, blue);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

/* Contact Sections */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: aqua;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row from {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row from .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: burlywood;
  border: 1px solid#eee;
  padding-left: 2rem;
}

.contact .row from .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row from .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: burlywood;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: aqua;
  text-align: center;
  padding: 1rem 0.8rem;
  margin-top: 3rem;
}

footer .socials {
  margin-bottom: 1rem;
  padding: 1rem o;
}
footer .socials a {
  color: black;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover,
footer .credit a:hover {
  color: #5d00ff;
}
footer .links {
  color: #000000;
  margin-bottom: 0.8rem;
}

footer .links a {
  color: #000000;
  padding: 0.7rem 1rem;
}
footer .creadit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #000000;
  font-weight: 700;
}

/* box */
.box .menu-card img {
  width: 100px;
  height: 80px;
  background: transparent;
}
/* Media Queries */

/* Leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: hsl(0, 29%, 97%);
    width: 30rem;
    height: 100vh;
    transition: 0.6s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: o;
  }

  .abaou .row .content h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 35rem;
  }

  .contact .row from {
    padding-top: 0;
  }
}

/* Mobile */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
